<!DOCTYPE html>  
<html xmlns:th="http://www.thymeleaf.org"  
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">  
<head>  
    <title>test</title>  
</head>
<body>
	<div th:fragment="content" th:remove="tag">
	
	<div class="row clearfix" style="margin-top: 30px;">
		<div class="col-md-12 column">
			<ul class="breadcrumb">
				<li>
					 <a href="#">商品</a>
				</li>
				<li>
					 <a th:href="@{/goodEdit}">添加商品</a>
				</li>
				<li class="active">
					商品列表
				</li>
			</ul>
			<table class="table">
				<thead>
					<tr>
						<th>编号</th>
						<th>商品名称</th>
						<th>销售价格</th>
						<th>成本价格</th>
						<th>库存</th>
						<th>上架时间</th>
						<th>状态</th>
						<th>操作</th>
					</tr>
				</thead>
				<tbody>
					<tr class="info">
						<td>
							1
						</td>
						<td>
							TB - Monthly
						</td>
						<td>
							01/04/2012
						</td>
						<td>
							Default
						</td>
						<td>
							Default
						</td>
						<td>
							Default
						</td>
						<td>
							Default
						</td>
						<td>
							<button type="button" class="btn btn-info active btn-xs">修改</button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	
	</div>
</body>
</html>